body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0;
    font-weight: bold;
    font-size: 38px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adicionando sombra nas letras */
    pointer-events: none;
    
}

.cabecalho-centralizado {
    text-align: center;
    padding: 10px 0;
    background-image: url('fundo.jpg');
    background-size: cover;
    max-width: 100%;
    pointer-events: none;
}   

.logo img {
    max-width: 600px; /* Ajuste o tamanho conforme necessário */
    display: block;
    margin: 0 auto;
    pointer-events: none;
}

.catalogo {
    text-align: center;
    background-image: url('fundosite.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 0; /* Espaçamento para as imagens do catálogo */
    color: rgb(228, 255, 234); /* Cor do texto */ 
}

.imagem-catalogo {
    background-color: rgba(71, 66, 66, 0.5); /* Cor de fundo das imagens */
    padding: 0px;
    max-width: 100%; /* Ajuste o tamanho conforme necessário */
    pointer-events: none;
}

.imagens {
    display: flex;
    flex-direction: column; /* As imagens ficarão uma embaixo da outra */
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.imagens img {
    max-width: 650px; /* Ajuste o tamanho conforme necessário */
    pointer-events: none;
}
